* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
button {
  cursor: pointer;
  text-decoration: none;
}
input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

h1 {
  font-size: 200px;
}

h2 {
  font-size: 56px;
}
