@import "app/styles/index.scss";
.Counter {
  font-size: 14px;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  @include mobile {
    padding-left: 0;
    gap: 10px;
    z-index: 50;
    width: 30%;
  }
}
.next {
  transform: rotate(180deg);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  @include mobile {
    gap: 10px;
  }
}
