@import "app/styles/index.scss";

.years {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $colorFirstAccent;
  @include mobile {
    position: static;
    top: 0;
    left: 0;
    transform: none;
    h1 {
      font-size: 56px;
    }
  }
}
.accentSecondText {
  color: $colorSecondAccent;
}
