@import "app/styles/index.scss";
.DateSlider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dates {
  cursor: grab;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    animation: opacityToggle 1s;
  }
}

.SliderButton {
  cursor: pointer;
}

.prev {
  transform: rotate(180deg);
}

.swiperButtonDisable {
  opacity: 0;
}

@include mobile {
  .swiperPagination {
    position: absolute;
    bottom: 34px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    div:first-child {
      width: auto;
    }
  }
}

@keyframes opacityToggle {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
