.DateSlider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dates {
  cursor: grab;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SliderButton {
  cursor: pointer;
}

.prev {
  transform: rotate(180deg);
}

.swiperButtonDisable {
  opacity: 0;
}
