@import "app/styles/index.scss";
.date {
  h3 {
    font-size: 25px;
    color: $colorFirstAccent;
  }
  p {
    font-size: 20px;
  }
  @include mobile {
    h3 {
      font-size: 16px;
    }
    p {
      margin-top: 10px;
      font-size: 14px;
    }
  }
}
